/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    img {
        height: 200px;
        width: 100%;
    }
    .tile {
        height: 200px;
        width: 100%;
    }
    .wrapper {
        margin-bottom: 250px;
    }
    .section-one {
        height: 550px;
        margin-bottom: 0px;
    }
    .container {
        height: 1410px;
    }
    .headline {
        font-size: 4.5vh;
    }
    .wave {
        left: 44%;
        width: 600px;
        height: 600px;
        margin-top: -350px;
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-column-gap: 5px;
        grid-row-gap: 10px;
        align-items: stretch;
        margin: 0px 0px 0px 5px;
        text-align: center;
    }
    .footer {
        height: 250px;
    }
    .footer-title {
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
    .icons {
        width: 100%;
        margin-top: 20px;
        float: clear;
        text-align: center;
    }

    .heading {
        margin: 0 auto;
        line-height: 1em;
        color: black;
        font-weight: 500;
        font-family: inherit;
        letter-spacing: 0em;
        margin-top: 20px;
        font-size: 3.3vh;
    }
    .subheading {
        line-height: 1.1em;
        font-weight: 0;
        margin: 15px 0 25px 0;
        font-size: 2.3vh;
    }
    .subheading-2 {
        line-height: 1.1em;
        font-weight: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 2.3vh;
    }

}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    //CSS
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .headline {
        top: 1%;
        width: 100%;
        font-weight: 800;
        font-size: 2.5em;
    }

    img {
        height: 319px;
        width: 100%;
    }
    .wrapper {
        padding: 0px;
    }
    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 15px;
        align-items: stretch;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    img.source-image {
        width: 100%;
        position: absolute;
        top: 1;
        left: 0;
    }
    .container {
        height: 2625px;
        border-radius: 0%;
    }
    .heading {
        margin: 0 auto;
        line-height: 1em;
        color: black;
        font-weight: 500;
        font-family: inherit;
        letter-spacing: 0em;
        font-size: 3.3vh;
    }
    .subheading {
        line-height: 1.5em;
        font-weight: 0;
        margin: 15px 0 15px 0;
        font-size: 2.4vh;
    }
    .subheading-2 {
        line-height: 1.5em;
        font-weight: 0;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 2.3vh;
    }
    .wrapper {
        margin-bottom: 250px;
    }
    .footer {
        height: 250px;
    }
    .footer-title {
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }
    .icons {
        width: 100%;
        margin-top: 20px;
        float: clear;
        text-align: center;
    }
    .projects {
    padding: 20px;
    }
}
