/* Smaller than 770px height */
@media screen and (max-height: 770px) {
    #section1 #wrapper h2 {
        font-size: 70px;
    }
}

/* Smaller than 680px height */
@media screen and (max-height: 680px) {

    /* Smaller than 580px height */
    @media screen and (max-height: 580px) {

        h1 {
            font-size: 4.5em;
        }

        #section1 #wrapper h2 {
            font-size: 50px;
        }

        #section3 img {
            bottom: -180px;
        }

        .intro p {
            font-size: 1.1em;
        }
    }

    /* Smaller than 480px height */
    @media screen and (max-height: 480px) {

        #section1 #wrapper h2 {
            font-size: 40px;
        }
    }

    /*creen resolutions smaller than 620px width */
    @media all and (max-width: 900px) {
        #section1 #wrapper h2 {
            font-size: 80px;
        }
    }
    /*creen resolutions smaller than 620px  width*/
    @media all and (max-width: 890px) {

        #menu li {
            margin: 5px;
        }

        #menu li a,
        #menu li.active a {
            padding: 9px 12px;
        }

        #section1 #wrapper #areaOne h2 {
            font-size: 70px;
        }

        #section1 #wrapper #areaTwo h2 {
            font-size: 70px;
        }

        #section1 #wrapper #areaThree h2 {
            font-size: 70px;
        }
    }
    /*creen resolutions smaller than 620px  width*/
    @media all and (max-width: 650px) {
        #menu {
            z-index: 9999;
        }

        #menu li {
            margin: 3px;
        }

        #menu li a,
        #menu li.active a {
            padding: 9px 12px;
        }

        #section3 img {
            margin: 0 auto;
            left: 0;
            max-width: 450px;
            height: auto !important;
            right: 0px;
        }

        .intro p {
            font-size: 1.1em;
        }

    }
    /*screen resolutions smaller than 620px  width*/
    @media all and (max-width: 580px) {
        #menu li a,
        #menu li.active a {
            padding: 8px 11px;
            font-size: 13px;
        }

        .intro p {
            width: 75%;
        }

        h1 {
            font-size: 2.7em;
        }

        #infoMenu {
            text-align: center;
        }

        #infoMenu ul {
            display: inline-block;
            padding: 0;
        }

        #infoMenu li a {
            margin: 0 10px 0 0;
        }

        #section1 #wrapper #areaOne h2 {
            font-size: 50px;
        }

        #section1 #wrapper #areaTwo h2 {
            font-size: 50px;
        }

        #section1 #wrapper #areaThree h2 {
            font-size: 50px;
        }
    }

    /*creen resolutions smaller than 620px  width*/
    @media all and (max-width: 480px) {

        #section1 #wrapper #areaOne h2 {
            font-size: 40px;
        }

        #section1 #wrapper #areaTwo h2 {
            font-size: 40px;
        }

        #section1 #wrapper #areaThree h2 {
            font-size: 40px;
        }
    }


    @media screen and (max-width: 890px)  and (max-height: 680px) {
        #section3 img {
            bottom: -50px;
        }
    }

    @media screen and (max-width: 650px)  and (max-height: 680px) {
        #section3 img {
            bottom: 0px;
        }
    }

    @media screen and (max-width: 580px) and (max-height: 580px) {
        #section3 img {
            bottom: -50px;
        }
    }

    @media screen and (max-width: 500px) and (max-height: 500px) {
        #section3 img {
            bottom: 0px;
        }
    }
}